<h4>Total Memebers: <%= @total_members.count %> </h4>

<% @batch_of_twenty_five.each do |member| %>
  <h4><%= member.name %></h4>
  <p><%= member.allies %></p>
  <p><%= member.enemies %></p>
  <p><%= member.affiliations %></p>
<% end %>
